# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__  
* Popular Languages in Data Science
* Commonly used Libraries for Data Science
* Some of the open-source tools for Data Science
* Examples of using Python for solving mathematical equations and transforming input

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplatlib
4. Scikit-learn
5. ggplot2

|Data Science Tools|
|-|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

$4+2$  
$5 * 3$

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

s = "200 minutes"
print(int(s.split()[0]) / 60, "hours")

3.3333333333333335 hours

## Author  
Aleksei Delektorskii